/* fonts.css */

/* Jost Regular */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  src: url('./src/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-600';
  font-style: normal;
  font-weight: 600;
  src: url('./src/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-500';
  font-style: normal;
  font-weight: 500;
  src: url('./src/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost-400';
  font-style: normal;
  font-weight: 400;
  src: url('./src/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'RammettoOne';
  font-style: normal;
  font-weight: 400;
  src: url('./src/fonts/RammettoOne-Regular.ttf') format('truetype');
}